.view__more {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #CFD8DC;
    border-radius: 87px;
    height: 48px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    img {
        margin-left: 8px;
    }
    &.review {
        margin: 40px 0 20px;
    }
    &.favorites {
        margin: 40px 0;
    }
    &.promotions {
        margin: 40px 0 0px;
    }
}

.btn__save {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 93px;
    padding: 9px 16px;
    margin: 24px 0 0;
    border: 1px solid #CFD8DC;
    box-sizing: border-box;
    border-radius: 87px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 182px;
    padding: 14px 24px;
    margin: 16px 0 16px 16px;
    background: #FED700;
    border-radius: 55px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
    &.popup {
        margin: 0;
        margin-left: 16px;
    }
}