section.article {
    margin: 20px 0;
    .article__content {
        img {
            border-radius: 20px;
        }
        padding: 0 0 40px;
        border-bottom: 1px solid #CFD8DC;
    }
    .article__description {
        h2 {
            margin-top: 20px;
            font-weight: 800;
            font-size: 28px;
            line-height: 32px;
        }
        p {
            margin-top: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }
        .placeholder {
            display: flex;
            flex-direction: row;
            padding: 24px;
            background: rgba(236, 239, 241, 0.5);
            border-radius: 20px;
            margin: 20px 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;
            
            img {
                margin-right: 16px;
            }
        }
    }
}