.cart {
    .cart__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
    .cart__products {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 620px;
        width: 100%;
        margin-right: 60px;
    }
    .cart__product {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 24px 0;
        border-top: 1px solid #ECEFF1;
        width: 100%;
        &:first-child {
            border-top: none;
            padding: 0 0 24px;
        }
        .product {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            max-width: 322px;
            width: 100%;
            img {
                display: flex;
                margin-right: 16px;
            }
            .product__name {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                p {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 8px;
                }
                span {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: #7B8E98;
                }
            }
        }
        .number {
            margin: 0 32px;
            
            .counter {
                font-weight: 800;
                font-size: 16px;
                line-height: 20px;
            }
        }
        .prices {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            max-width: 92px;
            width: 100%;
            margin-right: 32px;
            .old_price {
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                text-decoration-line: line-through;
            }
            .new_price {
                font-weight: 800;
                font-size: 20px;
                line-height: 24px;
                color: #F44336
            }
        }
        .ordered__item_gift {
            margin-left: auto;
        }
        
    }

    .shopping__cart {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .cart__total {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 16px;
            background: #FFFFFF;
            box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.02), 0px 2px 16px rgba(96, 97, 112, 0.16);
            border-radius: 20px;
            max-width: 312px;
            width: 100%;
            margin-bottom: 40px;
            h5 {
                font-weight: 800;
                font-size: 20px;
                line-height: 24px;
            }
            .total__list {
                margin: 24px 0 0;
                width: 100%;
                li {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 16px;
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #7B8E98;
                    }
                    .price {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        &.discount {
                            color: #F44336;
                        }
                    }
                }
            }
            .total__sum {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                padding: 16px 0 24px;
                border-top: 1px solid #ECEFF1;
                width: 100%;
                p {
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 20px;
                }
                span {
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 24px;
                }

            }
            .btn__link {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 18px;
                background: #FED700;
                border-radius: 55px;
                width: 100%;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
            }

        }
        .delivery {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            padding: 12px 11px;
            background: rgba(236, 239, 241, 0.5);
            border-radius: 12px;
            margin-bottom: 8px;
            width: 100%;
            &:last-child {
                margin-bottom: 0;
            }
            img {
                margin-right: 12px;
            }
            h6 {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 8px;
            }
            p {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 8px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            span {
                font-weight: 700;
            }
        }
    }

}