.ordering {
    margin-bottom: 60px;
    h2 {
            font-weight: 800;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 40px;
        }
    h3 {
            font-weight: 800;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 24px;
        }
    .delivering {
        max-width: 620px;
        width: 100%;
        margin-right: 60px;
    }

    .ordering__content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        .delivering__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 16px;
        max-width: 620px;
        width: 100%;
        margin-bottom: 40px;
        }

        .type__delivery {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            background: #FFFFFF;
            box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.16), 0px 0.5px 2px rgba(96, 97, 112, 0.24);
            border-radius: 12px;
            max-width: 302px;
            width: 100%;
            cursor: pointer;
            &_info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                padding: 16px;
                border-radius: 12px;
                transition: .3s;
                .headline {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 12px;
                    img {
                        margin-right: 12px;
                    }
                    p {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                .delivery__data {
                    p {
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #7B8E98;
                    }
                }
            }
            input {
                position: absolute;
                display: block;
                outline: none;
                border: none;
                background: none;
                padding: 0;
                margin: 0;
                -webkit-appearance: none;
            }
            input:checked ~ .type__delivery_info {
                border: 2px solid #FED700;
            }
        }

        .delivery__methods {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 40px;
            input {
                position: absolute;
                display: block;
                outline: none;
                border: none;
                background: none;
                padding: 0;
                margin: 0;
                -webkit-appearance: none;
            }
            input:checked ~ .delivery__method {
                border: 2px solid #FED700;
            }
            &_content {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-column-gap: 16px;
            }
            .delivery__method_info {
                cursor: pointer;
            }
            .delivery__method {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
                padding: 8px 12px;
                background: #FFFFFF;
                box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.16), 0px 0.5px 2px rgba(96, 97, 112, 0.24);
                border-radius: 12px;
                max-width: 143px;
                width: 100%;
                transition: .3s;
                .badge {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    padding: 1px 6px;
                    position: absolute;
                    top: -7px;
                    right: 12px;
                    background: #01A54E;
                    border-radius: 20px;
                    font-weight: 800;
                    font-size: 9px;
                    line-height: 12px;
                    color: #FFFFFF;
                    &.fast {
                        background: #03A9F4;
                    }
                }
                &_title {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 8px;
                    img {
                        margin-right: 8px;
                    }
                    p {
                        font-weight: 800;
                        font-size: 12px;
                        line-height: 14px;
                    }
                }
                &_data {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: 100%;
                    p {
                        font-weight: 400;
                        font-size: 9px;
                        line-height: 12px;
                        color: #7B8E98;
                    }
                    span {
                        font-weight: 700;
                        font-size: 12px;
                        line-height: 14px;
                    }
                    .price {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                    .data {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        &__info {
                            font-weight: 600;
                            font-size: 9px;
                            line-height: 12px;
                        }
                    }
                }
            }
        }

        .delivery__info {
            .comment {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 14px 16px;
                background: #FFFFFF;
                border: 1px solid #CFD8DC;
                border-radius: 12px;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #7B8E98;
                width: 100%;
                height: 96px;
                margin-top: 12px;
                textarea {
                    width: 100%;
                    height: 100%;
                }
                textarea:focus {
                    border: none;
                    outline: none;
                }
                &.pet {
                    textarea {
                        font-style: italic;
                    }
                }
            }
        }

        .delivering__info_checkout {
            margin: 40px 0;
            .delivering__info_ozon {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                background: #FFFFFF;
                box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.16), 0px 0.5px 2px rgba(96, 97, 112, 0.24);
                border-radius: 12px;
                max-width: 300px;
                width: 100%;
                cursor: pointer;
            }
            .profile__info {
                padding: 8px 12px;
                width: 100%;
                transition: .3s;
                border-radius: 12px;
                .headline{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 8px;
                    .title {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img {
                            margin-right: 8px;
                        }
                        p {
                            font-weight: 800;
                            font-size: 12px;
                            line-height: 14px;
                        }
                    }
                }
                .home__address_items {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding: 0px 0px 0px 6px;
                    .home__address_item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 4px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        img {
                            margin-right: 12px;
                        }
                        p {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 14px;
                            color: #7B8E98;
                        }

                    }
                }
            }
            input {
                    position: absolute;
                    display: block;
                    outline: none;
                    border: none;
                    background: none;
                    padding: 0;
                    margin: 0;
                    -webkit-appearance: none;
                }
                input:checked ~ .profile__info {
                    border: 2px solid #FED700;
                }
        }

        .recipient {
            border-bottom: none;
            padding: 0;
            h2 {
                margin-bottom: 24px;
            }
            .form__user_info {
                .user__info {
                    margin-bottom: 24px;
                }
                .notifications {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    .check__mark {
                        margin-right: 12px;
                    }
                }
            }
        }

        .pet {
            h2 {
                margin-bottom: 24px;
            }
            .comment {
                margin-bottom: 40px;
            }
            .birthday {
                align-items: center;
            }
        }

        .pay__order {
            h2 {
                margin-bottom: 24px;
            }
            &_content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 16px;
                background: #FFFFFF;
                box-shadow: 0px 0px 1px rgb(40 41 61 / 16%), 0px 0.5px 2px rgb(96 97 112 / 24%);
                border-radius: 12px;
                transition: .3s;
                max-width: 304px;
                width: 100%;
                cursor: pointer;
            }
            .headline {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 14px;
                img {
                    margin-right: 12px;
                }
                p {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    
                }
            }
            span {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #7B8E98;
            }
            input {
                position: absolute;
                display: block;
                outline: none;
                border: none;
                background: none;
                padding: 0;
                margin: 0;
                -webkit-appearance: none;
            }
            input:checked ~ .pay__order_content {
                border: 2px solid #FED700;
            }
        }




        &_cart {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 312px;
            width: 100%;
            .cart__product {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding: 16px;
                background: #FFFFFF;
                box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.02), 0px 2px 16px rgba(96, 97, 112, 0.16);
                border-radius: 20px;
                margin-bottom: 40px;
                width: 100%;
            }
            .heading {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                margin-bottom: 24px;
                width: 100%;
                p {
                    font-weight: 800;
                    font-size: 20px;
                    line-height: 24px;
                }
                button {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #FEBA0C;
                }
            }
            .products__selected {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                margin-bottom: 24px;
                img {
                    width: 48px;
                    height: 48px;
                    margin-right: 8px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .payment__items {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-bottom: 24px;
                width: 100%;
                .payment__item {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 16px;
                    &:first-child {
                        border-top: 1px solid #ECEFF1;
                        padding-top: 16px;
                    }
                    &:nth-child(2) {
                    border-bottom: 1px solid #ECEFF1;
                    padding-bottom: 16px;
                    }
                    &.discount {
                        color: #F44336;
                    }
                    &.total {
                        p {
                            font-weight: 800;
                            font-size: 14px;
                            line-height: 20px;
                            color: black;
                        }
                        span {
                            font-weight: 800;
                            font-size: 20px;
                            line-height: 24px;
                            color: black;
                        }
                    }
                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        color: #7B8E98;
                    }
                    span {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
            .pay {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding: 10px 18px;
                background: #FED700;
                border-radius: 55px;
                font-weight: 700;
                font-size: 14px;
                line-height: 20px;
                width: 100%;
            }
            .real__data {
                display: flex;
                flex-direction: row;
                align-items:flex-start;
                padding: 12px;
                background: rgba(236, 239, 241, 0.5);
                border-radius: 12px;
                img {
                    margin-right: 12px;
                }
                &_info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    p {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 8px;
                    }
                    span {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }
    }
}