.catalog {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &__products {
        margin: 0;
        .product__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.sidebar {
    max-width: 220px;
    width: 100%;
    margin-right: 32px;
    .item {
        padding-bottom: 16px;
        border-bottom: 1px solid#CFD8DC;
        margin-bottom: 16px;
        &:last-child {
            border-bottom: none;
        }
        &__btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            .arrow {
                transition: .3s;
            }
            path {
                transition: .3s;
            }
            span {
                display: block;
                margin-left: 16px;
                margin-right: auto;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: #7B8E98;
                transition: .3s;
            }
        }
        &__list {
            margin-top: 16px;
            display: none;
            li {
                margin-bottom: 8px;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                color: #7B8E98;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &.active {
            .item__btn {
                path {
                    fill: #1A1A1A;
                }
                span {
                    color: #1A1A1A;
                }
                .arrow {
                     transform: rotate(90deg);
                }
            }
            .item__list {
                display: block;
            }

        }
    }
}