<div class="footer @@if (context.page === 'home') {footer__home}">
    <div class="container">
        <div class="footer__content">
            <div class="footer__logo">
                <a class="logo__img" href=""><img src="@img/logo_footer.svg" alt=""></a>
                <p class="logo__info">© «Интернет-магазин натуральных лакомств для собак HorDog.ru»</p>
            </div>
            <div class="footer__links">
                <ul class="footer__list">
                    <li><a href="">Каталог</a></li>
                    <li><a href="">Акции</a></li>
                    <li><a href="">Новости</a></li>
                    <li><a href="">Отзывы</a></li>
                </ul>
            </div>
            <div class="footer__links">
                <ul class="footer__list">
                    <li><a href="">Оплата и доставка</a></li>
                    <li><a href="">Часто спрашивают</a></li>
                    <li><a href="">Обратная связь</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
            <div class="contacts">
                <p>Мы всегда на связи</p>
                <a class="phone" href="tel:8 (917) 717-21-79">8 (917) 717-21-79</a>
                <a class="email" href="mailto:">hordog.ru@gmail.com</a>
                <ul class="social__icons">
                    <li><a href=""><img src="@img/social icons/logo-telegram.svg" alt=""></a></li>
                    <li><a href=""><img src="@img/social icons/logo-whatsapp.svg" alt=""></a></li>
                    <li><a href=""><img src="@img/social icons/logo-viber.svg" alt=""></a></li>
                    <li><a href=""><img src="@img/social icons/logo-instagram.svg" alt=""></a></li>
                    <li><a href=""><img src="@img/social icons/logo-vk.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>