<div class="header @@if (context.page === 'home') {header__home}">
    <div class="container">
        <div class="header__content">
            <a class="logo__img" href="index.html">
                <img src="@img/logo.svg" alt="">
            </a>
            <form class="form" action="">
                <div class="search__form">
                    <input type="" placeholder="Поиск">
                    <button class="btn__search"><img src="@img/icons/search.svg" alt=""></button>
                </div>
            </form>
            <div class="header__list">
                <a class="link favorite" href="">
                    <img src="@img/icons/ic-favorites.svg" alt="">
                    <!-- <p>12</p> -->
                </a>
                <a class="link cart" href="">
                    <img src="@img/icons/ic-cart.svg" alt="">
                    <!-- <p>2</p> -->
                </a>
                <button class="link auth">
                    <img src="@img/icons/ic-profile.svg" alt="">
                </button>
            </div>
        </div>
    </div>
</div>